[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "covid19india"]
	path = covid19india
	url = https://github.com/maxsal/covid19india
